.content_post{:style => "background-image: url(#{shop.image});"}
  .more
    %span= image_tag 'arrow_top.png'
    %ul.more_list
      %li
        = link_to '詳細', "/shops/#{shop.id}", method: :get
      - if user_signed_in? && current_user.id == shop.user_id
        %li
          = link_to '編集', "/shops/#{shop.id}/edit", method: :get
        %li
          = link_to '削除', "/shops/#{shop.id}", method: :delete
  %p= shop.text
  = simple_format(shop.text)
  %span.name
    %a{:href => "/users/#{shop.user.id}"}
      %span 投稿者
      = shop.user.nickname
