= form_with(url: search_shops_path, local: true, method: :get, class: "search-form") do |form|
  = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
  = form.submit "検索", class: "search-btn"
#global-container
  #container
    #content
      .hero
        .swiper-container
          .swiper-wrapper
            - @shops.each do |shop|
              .swiper-slide
                -# = image_tag "image: url(#{@shop.image});"
                = image_tag(shop.image)
                -# {:style => "image: url(#{shop.image});"}
                .hero__title
                  = shop.text
                  .more
                    %span= image_tag 'arrow_top.png'
                    %ul.more_list
                      %li
                        = link_to '詳細', "/shops/#{shop.id}", method: :get
                      - if user_signed_in? && current_user.id == shop.user_id
                        %li
                          = link_to '編集', "/shops/#{shop.id}/edit", method: :get
                        %li
                          = link_to '削除', "/shops/#{shop.id}", method: :delete
                  %p= shop.text
                  = simple_format(shop.text)
                  %span.name
                    %a{:href => "/users/#{shop.user.id}"}
                      %span 投稿者
                      = shop.user.nickname
                = paginate(@shops)
                -# \...
          / If we need pagination
          .swiper-pagination
          / If we need navigation buttons
          .swiper-button-prev
          .swiper-button-next
          / If we need scrollbar
          .swiper-scrollbar
.contents.row
  - @shops.each do |shop|
    = render partial: "shop", locals: { shop: shop }
  = paginate(@shops)

%script{src: "https://unpkg.com/swiper/js/swiper.min.js"}


